<template>
  <v-app>
    <div class="wrapper" id="app">
      <div class="card-form">

        <div class="text-center ma-2">
          <v-snackbar v-model="snackbar" right top> {{ alertText }} </v-snackbar>
        </div>

        <v-alert border="bottom" colored-border color="#2364d2" elevation="2">
          <h3 class="headline card-input__label" align="center"> Chainlink Pricing dApp </h3>
        </v-alert>

        <div class="card-form__inner">
          <div class="card-input">
            <label for="contractAddress" class="card-input__label">Contract Address</label>
            <input type=text id="contractAddress" :disabled="disableContractBox" class="card-input__input" minlength="42" maxlength="42" required v-model="contractAddress">
          </div>

          <div class="card-input">
            <label class="card-input__label" style="text-align: center">OR</label>
          </div>

          <div class="card-input">
            <label for="chooseNetwork" class="card-input__label">Choose Network</label>
            <select class="card-input__input -select" id="chooseNetwork" :disabled="disableNetwork" v-model="chooseNetwork" @change="choosenNetwork">
              <option value="" disabled selected>- Select -</option>
              <option value="4">Rinkeby</option>
              <option value="42">Kovan</option>
            </select>
          </div>

          <div class="card-input">
            <label for="choosePair" class="card-input__label">Choose Pair</label>
            <select class="card-input__input -select" id="choosePair" :disabled="disablePair" v-model="choosePair" @change="getContractAddress">
              <option value="" disabled selected>- Select -</option>
              <option :value="contract.value" v-for="(contract, index) in selectedPair" :key="index">{{ contract.text }} </option>
            </select>
          </div>

          <div class="row">
            <div class="col-6">
              <button class="card-form__button" @click="getDetails">Get Details</button>
            </div>
            <div class="col-6">
              <button class="card-form__button" @click="resetData">Reset</button>
            </div>
          </div>

          <v-overlay :value="overlay">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
          </v-overlay>

        </div>
      </div>
    </div>

    <v-dialog v-model="dialog" width="500">
      <div class="card-form__inner">

        <div class="card-input">
          <label for="contractAdd" class="card-input__label">Contract Address</label>
          <input type=text id="contractAdd" class="card-input__input" :disabled=true v-model="details.contractAdd">
        </div>

        <div class="card-input">
          <label for="contractPair" class="card-input__label">Pair</label>
          <input type=text id="contractPair" class="card-input__input" :disabled=true v-model="details.pair">
        </div>

        <div class="card-input">
          <label for="lastPrice" class="card-input__label">Price</label>
          <input type=text id="lastPrice" class="card-input__input" :disabled=true v-model="details.price">
        </div>

        <div class="card-input">
          <label for="lastUpdated" class="card-input__label">Last Updated</label>
          <input type=text id="lastUpdated" class="card-input__input" :disabled=true v-model="details.lastUpdated">
        </div>

        <div class="card-input">
          <label for="version" class="card-input__label">Version</label>
          <input type=text id="version" class="card-input__input" :disabled=true v-model="details.version">
        </div>

        <div class="row">
          <div class="col-12">
            <button class="card-form__button" @click="resetData">Ok</button>
          </div>
        </div>

        </div>
    </v-dialog>
  </v-app>
</template>

<script>

import moment from "moment";

export default {
  name: 'App',

  data() {
    return {
      chooseNetwork: '',
      contractAddress: null,
      choosePair: '',

      mainNetPair: [
        {text:'AAVE / ETH', value: '0x6Df09E975c830ECae5bd4eD9d90f3A95a4f88012'},
        {text:'AAVE / USD', value: '0x547a514d5e3769680Ce22B2361c10Ea13619e8a9'},
        {text:'ADA / USD', value: '0xAE48c91dF1fE419994FFDa27da09D5aC69c30f55'},
        {text:'ADX / USD', value: '0x231e764B44b2C1b7Ca171fa8021A24ed520Cde10'},
        {text:'ANT / ETH', value: '0x8f83670260F8f7708143b836a2a6F11eF0aBac01'},
        {text:'AUD / USD', value: '0x77F9710E7d0A19669A13c055F62cd80d313dF022'},
        {text:'BAL / ETH', value: '0xC1438AA3823A6Ba0C159CfA8D98dF5A994bA120b'},
        {text:'BAT / ETH', value: '0x0d16d4528239e9ee52fa531af613AcdB23D88c94'},
        {text:'BCH / USD', value: '0x9F0F69428F923D6c95B781F89E165C9b2df9789D'},
        {text:'BNB / USD', value: '0x14e613AC84a31f709eadbdF89C6CC390fDc9540A'},
        {text:'BNT / ETH (Bancor)', value: '0x63552Fa3a21c8d74773344DdB754f2eC8abaD401'},
        {text:'BNT / ETH', value: '0xCf61d1841B178fe82C8895fe60c2EDDa08314416'},
        {text:'BNT / USD', value: '0x1E6cF0D433de4FE882A437ABC654F58E1e78548c'},
        {text:'BRENT / USD', value: '0xb70ba475F1a6b5396e46d9b2a5f7081080Dc9d09'},
        {text:'BTC / ARS', value: '0xA912dd6b62B1C978e205B86994E057B1b494D73a'},
        {text:'BTC / ETH', value: '0xdeb288F737066589598e9214E782fa5A8eD689e8'},
        {text:'BTC / USD', value: '0xF4030086522a5bEEa4988F8cA5B36dbC97BeE88c'},
        {text:'BTC Difficulty', value: '0xA792Ebd0E4465DB2657c7971519Cfa0f0275F428'},
        {text:'BUSD / ETH', value: '0x614715d2Af89E6EC99A233818275142cE88d1Cfd'},
        {text:'BZRX / ETH', value: '0x8f7C7181Ed1a2BA41cfC3f5d064eF91b67daef66'},
        {text:'CHF / USD', value: '0x449d117117838fFA61263B61dA6301AA2a88B13A'},
        {text:'COMP / ETH', value: '0x1B39Ee86Ec5979ba5C322b826B3ECb8C79991699'},
        {text:'COMP / USD', value: '0xdbd020CAeF83eFd542f4De03e3cF0C28A4428bd5'},
        {text:'CRO / ETH', value: '0xcA696a9Eb93b81ADFE6435759A29aB4cf2991A96'},
        {text:'DAI / ETH', value: '0x773616E4d11A78F511299002da57A0a94577F1f4'},
        {text:'DAI / USD', value: '0xAed0c38402a5d19df6E4c03F4E2DceD6e29c1ee9'},
        {text:'DASH / USD', value: '0xFb0cADFEa136E9E343cfb55B863a6Df8348ab912'},
        {text:'DMG / ETH', value: '0xD010e899f7ab723AC93f825cDC5Aa057669557c2'},
        {text: "ENJ / ETH	", value: "0x24D9aB51950F3d62E9144fdC2f3135DAA6Ce8D1B"},
        {text: "EOS / USD	", value: "0x10a43289895eAff840E8d45995BBa89f9115ECEe"},
        {text: "ETC / USD	", value: "0xaEA2808407B7319A31A383B6F8B60f04BCa23cE2"},
        {text: "ETH / USD	", value: "0x5f4eC3Df9cbd43714FE2740f5E3616155c5b8419"},
        {text: "ETH / XDR	", value: "0xb022E2970b3501d8d83eD07912330d178543C1eB"},
        {text: "EUR / USD	", value: "0xb49f677943BC038e9857d61E7d053CaA2C1734C1"},
        {text: "FNX / USD	", value: "0x80070f7151BdDbbB1361937ad4839317af99AE6c"},
        {text: "FTSE / GBP	", value: "0xE23FA0e8dd05D6f66a6e8c98cab2d9AE82A7550c"},
        {text: "Fast Gas / Gwei	", value: "0x169E633A2D1E6c10dD91238Ba11c4A708dfEF37C"},
        {text: "GBP / USD	", value: "0x5c0Ab2d9b5a7ed9f470386e82BB36A3613cDd4b5"},
        {text: "JPY / USD	", value: "0xBcE206caE7f0ec07b545EddE332A47C2F75bbeb3"},
        {text: "KNC / ETH	", value: "0x656c0544eF4C98A6a98491833A89204Abb045d6b"},
        {text: "KNC / USD	", value: "0xf8fF43E991A81e6eC886a3D281A2C6cC19aE70Fc"},
        {text: "LINK / ETH (Bancor)	", value: "0xFf2c64f454EAf1b9ee8c204404A73E287A567A44"},
        {text: "LINK / ETH	", value: "0xDC530D9457755926550b59e8ECcdaE7624181557"},
        {text: "LINK / USD	", value: "0x2c1d072e956AFFC0D435Cb7AC38EF18d24d9127c"},
        {text: "LRC / ETH	", value: "0x160AC928A16C93eD4895C2De6f81ECcE9a7eB7b4"},
        {text: "LTC / USD	", value: "0x6AF09DF7563C363B5763b9102712EbeD3b9e859B"},
        {text: "MANA / ETH	", value: "0x82A44D92D6c329826dc557c5E1Be6ebeC5D5FeB9"},
        {text: "MKR / ETH	", value: "0x24551a8Fb2A7211A25a17B1481f043A8a8adC7f2"},
        {text: "MLN / ETH	", value: "0xDaeA8386611A157B08829ED4997A8A62B557014C"},
        {text: "N225 / JPY	", value: "0x5c4939a2ab3A2a9f93A518d81d4f8D0Bc6a68980"},
        {text: "NMR / ETH	", value: "0x9cB2A01A7E64992d32A34db7cEea4c919C391f6A"},
        {text: "OXT / USD	", value: "0xd75AAaE4AF0c398ca13e2667Be57AF2ccA8B5de6"},
        {text: "Orchid	", value: "0xa175FA75795c6Fb2aFA48B72d22054ee0DeDa4aC"},
        {text: "RCN / BTC	", value: "0xEa0b3DCa635f4a4E77D9654C5c18836EE771566e"},
        {text: "REN / ETH (Bancor)	", value: "0xF9680D99D6C9589e2a93a78A04A279e509205945"},
        {text: "REN / ETH	", value: "0x3147D7203354Dc06D9fd350c7a2437bcA92387a4"},
        {text: "REN / USD	", value: "0x0f59666EDE214281e956cb3b2D0d69415AfF4A01"},
        {text: "REP / ETH	", value: "0xD4CE430C3b67b3E2F7026D86E7128588629e2455"},
        {text: "RLC / ETH	", value: "0x4cba1e1fdc738D0fe8DB3ee07728E2Bc4DA676c6"},
        {text: "SNX / ETH	", value: "0x79291A9d692Df95334B1a0B3B4AE6bC606782f8c"},
        {text: "SNX / USD	", value: "0xDC3EA94CD0AC27d9A86C180091e7f78C683d3699"},
        {text: "SUSD / ETH	", value: "0x8e0b7e6062272B5eF4524250bFFF8e5Bd3497757"},
        {text: "SXP / USD	", value: "0xFb0CfD6c19e25DB4a08D8a204a387cEa48Cc138f"},
        {text: "TRX / USD	", value: "0xacD0D1A29759CC01E8D925371B72cb2b5610EA25"},
        {text: "TUSD / ETH	", value: "0x3886BA987236181D98F2401c507Fb8BeA7871dF2"},
        {text: "TUSD Reserves	", value: "0x478f4c42b877c697C4b19E396865D4D533EcB6ea"},
        {text: "TUSD Supply	", value: "0x807b029DD462D5d9B9DB45dff90D3414013B969e"},
        {text: "Total Marketcap / USD	", value: "0xEC8761a0A73c34329CA5B1D3Dc7eD07F30e836e2"},
        {text: "UMA / ETH	", value: "0xf817B69EA583CAFF291E287CaE00Ea329d22765C"},
        {text: "UNI / ETH	", value: "0xD6aA3D25116d8dA79Ea0246c4826EB951872e02e"},
        {text: "USDC / ETH	", value: "0x986b5E1e1755e3C2440e960477f25201B0a8bbD4"},
        {text: "USDK / USD	", value: "0xfAC81Ea9Dd29D8E9b212acd6edBEb6dE38Cb43Af"},
        {text: "USDT / ETH	", value: "0xEe9F2375b4bdF6387aa8265dD4FB8F16512A1d46"},
        {text: "WNXM / ETH	", value: "0xe5Dc0A609Ab8bCF15d3f35cFaa1Ff40f521173Ea"},
        {text: "WOM / ETH	", value: "0xcEBD2026d3C99F2a7CE028acf372C154aB4638a9"},
        {text: "XAG / USD	", value: "0x379589227b15F1a12195D3f2d90bBc9F31f95235"},
        {text: "XAU / USD	", value: "0x214eD9Da11D2fbe465a6fc601a91E62EbEc1a0D6"},
        {text: "XHV / USD	", value: "0xeccBeEd9691d8521385259AE596CF00D68429de0"},
        {text: "XMR / USD	", value: "0xFA66458Cce7Dd15D8650015c4fce4D278271618F"},
        {text: "XRP / USD	", value: "0xCed2660c6Dd1Ffd856A5A82C67f3482d88C50b12"},
        {text: "XTZ / USD	", value: "0x5239a625dEb44bF3EeAc2CD5366ba24b8e9DB63F"},
        {text: "YFI / ETH	", value: "0x7c5d4F8345e66f68099581Db340cd65B078C41f4"},
        {text: "ZRX / ETH	", value: "0x2Da4983a622a8498bb1a21FaE9D8F6C664939962"},
        {text: "sCEX / USD	", value: "0x283D433435cFCAbf00263beEF6A362b7cc5ed9f2"},
        {text: "sDEFI / USD	", value: "0xa8E875F94138B0C5b51d1e1d5dE35bbDdd28EA87"}
      ],

      kovanPair: [
        {text: "AAVE / ETH", value: "0xd04647B7CB523bb9f26730E9B6dE1174db7591Ad"},
        {text: "AMPL / ETH", value: "0x562C092bEb3a6DF77aDf0BB604F52c018E4f2814"},
        {text: "AUD / USD", value: "0x5813A90f826e16dB392abd2aF7966313fc1fd5B8"},
        {text: "BAT / ETH", value: "0x0e4fcEC26c9f85c3D714370c98f43C4E02Fc35Ae"},
        {text: "BAT / USD", value: "0x8e67A0CFfbbF6A346ce87DFe06daE2dc782b3219"},
        {text: "BNB / USD", value: "0x8993ED705cdf5e84D0a3B754b5Ee0e1783fcdF16"},
        {text: "BTC / ETH", value: "0xF7904a295A029a3aBDFFB6F12755974a958C7C25"},
        {text: "BTC / USD", value: "0x6135b13325bfC4B00278B4abC5e20bbce2D6580e"},
        {text: "BUSD / ETH", value: "0xbF7A18ea5DE0501f7559144e702b29c55b055CcB"},
        {text: "BZRX / ETH", value: "0x9aa9da35DC44F93D90436BfE256f465f720c3Ae5"},
        {text: "CHF / USD", value: "0xed0616BeF04D374969f302a34AE4A63882490A8C"},
        {text: "DAI / ETH", value: "0x22B58f1EbEDfCA50feF632bD73368b2FdA96D541"},
        {text: "DAI / USD", value: "0x777A68032a88E5A84678A77Af2CD65A7b3c0775a"},
        {text: "ENJ / ETH", value: "0xfaDbe2ee798889F02d1d39eDaD98Eff4c7fe95D4"},
        {text: "ETH / USDT RSI 4h", value: "0x10900f50d1bC46b4Ed796C50A4Cc63791CaF7501"},
        {text: "ETH / USD", value: "0x9326BFA02ADD2366b30bacB125260Af641031331"},
        {text: "EUR / USD", value: "0x0c15Ab9A0DB086e062194c273CC79f41597Bbf13"},
        {text: "Ferrari F12 TDF / USD", value: "0x22a2D07993A1A18b3b86E56F960fa735b6D6cFD9"},
        {text: "GBP / USD", value: "0x28b0061f44E6A9780224AA61BEc8C3Fcb0d37de9"},
        {text: "JPY / USD", value: "0xD627B1eF3AC23F1d3e576FA6206126F3c1Bd0942"},
        {text: "KNC / ETH", value: "0xb8E8130d244CFd13a75D6B9Aee029B1C33c808A7"},
        {text: "LINK / ETH", value: "0x3Af8C569ab77af5230596Acf0E8c2F9351d24C38"},
        {text: "LINK / USD", value: "0x396c5E36DD0a0F5a5D33dae44368D4193f69a1F0"},
        {text: "LTC / USD", value: "0xCeE03CF92C7fFC1Bad8EAA572d69a4b61b6D4640"},
        {text: "MANA / ETH", value: "0x1b93D8E109cfeDcBb3Cc74eD761DE286d5771511"},
        {text: "MKR / ETH", value: "0x0B156192e04bAD92B6C1C13cf8739d14D78D5701"},
        {text: "ORN / USDT", value: "0x66413F734E69C2C41B4902024D0C5C3A86b8EcD2"},
        {text: "Oil / USD", value: "0x48c9FF5bFD7D12e3C511022A6E54fB1c5b8DC3Ea"},
        {text: "REN / ETH", value: "0xF1939BECE7708382b5fb5e559f630CB8B39a10ee"},
        {text: "REP / ETH", value: "0x3A7e6117F2979EFf81855de32819FBba48a63e9e"},
        {text: "SNX / ETH", value: "0xF9A76ae7a1075Fe7d646b06fF05Bd48b9FA5582e"},
        {text: "SNX / USD", value: "0x31f93DA9823d737b7E44bdee0DF389Fe62Fd1AcD"},
        {text: "SUSD / ETH", value: "0xb343e7a1aF578FA35632435243D814e7497622f7"},
        {text: "TRX / USD", value: "0x9477f0E5bfABaf253eacEE3beE3ccF08b46cc79c"},
        {text: "TUSD / ETH", value: "0x7aeCF1c19661d12E962b69eBC8f6b2E63a55C660"},
        {text: "UNI / ETH", value: "0x17756515f112429471F86f98D5052aCB6C47f6ee"},
        {text: "USDC / ETH", value: "0x64EaC61A2DFda2c3Fa04eED49AA33D021AeC8838"},
        {text: "USDT / ETH", value: "0x0bF499444525a23E7Bb61997539725cA2e928138"},
        {text: "XAG / USD", value: "0x4594051c018Ac096222b5077C3351d523F93a963"},
        {text: "XAU / USD", value: "0xc8fb5684f2707C82f28595dEaC017Bfdf44EE9c5"},
        {text: "XRP / USD", value: "0x3eA2b7e3ed9EA9120c3d6699240d1ff2184AC8b3"},
        {text: "XTZ / USD", value: "0xC6F39246494F25BbCb0A8018796890037Cb5980C"},
        {text: "YFI / ETH", value: "0xC5d1B1DEb2992738C0273408ac43e1e906086B6C"},
        {text: "ZRX / ETH", value: "0xBc3f28Ccc21E9b5856E81E6372aFf57307E2E883"},
        {text: "sCEX / USD", value: "0xA85646318D20C684f6251097d24A6e74Fe1ED5eB"},
        {text: "sDEFI / USD", value: "0x70179FB2F3A0a5b7FfB36a235599De440B0922ea"},
      ],

      rinkebyPair: [
        {text: "AUD / USD", value: "0x21c095d2aDa464A294956eA058077F14F66535af"},
        {text: "BAT / USD", value: "0x031dB56e01f82f20803059331DC6bEe9b17F7fC9"},
        {text: "BNB / USD", value: "0xcf0f51ca2cDAecb464eeE4227f5295F2384F84ED"},
        {text: "BTC / ETH", value: "0x2431452A0010a43878bF198e170F6319Af6d27F4"},
        {text: "BTC / USD", value: "0xECe365B379E1dD183B20fc5f022230C044d51404"},
        {text: "BTC IV 1d", value: "0x696b6Fb2b093df94C428Efa68d6e7849702D9419"},
        {text: "BTC IV 1w", value: "0x1e15C98a7A4cE165777b3cc615BffEeBA947054c"},
        {text: "BTC IV 2d", value: "0x4378815024B852c5D291F7bb8B0862a46ab8d637"},
        {text: "BTC IV 2w", value: "0x2E5fE124e84333F3e04F30EfE057603dcB665945"},
        {text: "BTC IV 3w", value: "0xB58F22d1cacC00507b4346F0C3469B637A0f42B7"},
        {text: "BTC IV 4w", value: "0xeA68a3c16251fD28035e752aBBa4D7eE3015870e"},
        {text: "CHF / USD", value: "0x5e601CF5EF284Bcd12decBDa189479413284E1d2"},
        {text: "DAI / ETH", value: "0x74825DbC8BF76CC4e9494d0ecB210f676Efa001D"},
        {text: "DAI / USD", value: "0x2bA49Aaa16E6afD2a993473cfB70Fa8559B523cF"},
        {text: "ETH / USD", value: "0x8A753747A1Fa494EC906cE90E9f37563A8AF630e"},
        {text: "ETH IV 1d", value: "0x99d837840c374A08C0bF0EE3bc16b84F1a29A640"},
        {text: "ETH IV 1w", value: "0xFbAc690D8e5c2f3a2D2929B1dD78E42AD53f464a"},
        {text: "ETH IV 2d", value: "0xB03755573e8068ef172ba0BD826dc62Fa7Ed32f7"},
        {text: "ETH IV 2w", value: "0x9125759a01d14AeFe7c2426EFD20130B8FEabeBa"},
        {text: "ETH IV 3w", value: "0x0772C3bbF1469313C39ad59214582ecFA1fAB583"},
        {text: "ETH IV 4w", value: "0x727B59d0989d6D1961138122BC9F94f534E82B32"},
        {text: "EUR / USD", value: "0x78F9e60608bF48a1155b4B2A5e31F32318a1d85F"},
        {text: "FNX / USD", value: "0xcf74110A02b1D391B27cE37364ABc3b279B1d9D1"},
        {text: "GBP / USD", value: "0x7B17A813eEC55515Fb8F49F2ef51502bC54DD40F"},
        {text: "JPY / USD", value: "0x3Ae2F46a2D84e3D5590ee6Ee5116B80caF77DeCA"},
        {text: "LINK / USD", value: "0xd8bD0a1cB028a31AA859A21A3758685a95dE4623"},
        {text: "LTC / USD", value: "0x4d38a35C2D87976F334c2d2379b535F1D461D9B4"},
        {text: "MktCap / USD", value: "0x9Dcf949BCA2F4A8a62350E0065d18902eE87Dca3"},
        {text: "Oil / USD", value: "0x6292aA9a6650aE14fbf974E5029f36F95a1848Fd"},
        {text: "REP / USD", value: "0x9331b55D9830EF609A2aBCfAc0FBCE050A52fdEa"},
        {text: "SNX / USD", value: "0xE96C4407597CD507002dF88ff6E0008AB41266Ee"},
        {text: "TRX / USD", value: "0xb29f616a0d54FF292e997922fFf46012a63E2FAe"},
        {text: "USDC / ETH", value: "0xdCA36F27cbC4E38aE16C4E9f99D39b42337F6dcf"},
        {text: "USDC / USD", value: "0xa24de01df22b63d23Ebc1882a5E3d4ec0d907bFB"},
        {text: "XAG / USD", value: "0x9c1946428f4f159dB4889aA6B218833f467e1BfD"},
        {text: "XAU / USD", value: "0x81570059A0cb83888f1459Ec66Aad1Ac16730243"},
        {text: "XFT / USD", value: "0xab4a352ac35dFE83221220D967Db41ee61A0DeFa"},
        {text: "XRP / USD", value: "0xc3E76f41CAbA4aB38F00c7255d4df663DA02A024"},
        {text: "XTZ / USD", value: "0xf57FCa8B932c43dFe560d3274262b2597BCD2e5A"},
        {text: "ZRX / USD", value: "0xF7Bbe4D7d13d600127B6Aa132f1dCea301e9c8Fc"},
        {text: "sCEX / USD", value: "0x1a602D4928faF0A153A520f58B332f9CAFF320f7"},
        {text: "sDEFI / USD", value: "0x0630521aC362bc7A19a4eE44b57cE72Ea34AD01c"}
      ],

      selectedPair: [],

      rinkebyDeployedContractAddress: '0xc4e131220BA789a1719D1Fe6319e7C4C8321733a',
      kovanDeployedContractAddress: '0xc4e131220BA789a1719D1Fe6319e7C4C8321733a',

      rinkebyWeb3InfuraUrl: 'https://rinkeby.infura.io/v3/',
      kovanWeb3InfuraUrl: 'https://kovan.infura.io/v3/',
      infuraId: 'ed9055c18aa9499b88e791a562729a16',
      deployedContractABI: [
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "contractAddress",
				"type": "address"
			}
		],
		"name": "getUpdatedPrice",
		"outputs": [
			{
				"internalType": "int256",
				"name": "",
				"type": "int256"
			},
			{
				"internalType": "string",
				"name": "",
				"type": "string"
			},
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	}
      ],

      web3InfuraUrl: null,
      deployedContractAddress: null,

      disableNetwork: false,
      disablePair: false,
      disableContractBox: false,

      snackbar: false,
      alertText: '',
      dialog: false,

      details: {
        contractAdd: 0,
        pair: 0,
        lastUpdated: 0,
        version: 0,
        price: 0,
        decimal: 0,
      },

      overlay: false,

    };
  },
  mounted() {
    this.selectedPair = this.rinkebyPair;
  },

  methods: {
    choosenNetwork() {
      this.disableContractBox = true;
      this.disablePair = false;
      this.disableNetwork = false;
      if(this.chooseNetwork == 1){
        this.selectedPair = this.mainNetPair;
      } else if(this.chooseNetwork == 4){
        this.alertText = 'You have selected Rinkeby';
        this.snackbar = true;
        this.selectedPair = this.rinkebyPair;
      } else if(this.chooseNetwork == 42){
        this.alertText = 'You have selected Kovan';
        this.snackbar = true;
        this.selectedPair = this.kovanPair;
      } else {
        this.selectedPair = this.rinkebyPair;
      }
    },

    getDetails(e) {
      this.overlay = true;

      if(this.contractAddress == null) {
        this.alertText = 'Invalid Contract Address';
        this.snackbar = true;
        this.overlay = false;
        e.preventDefault();
        return;
      }

      if(this.contractAddress != null) {
        if(this.contractAddress.length != 42) {
          this.alertText = 'Invalid Contract Address';
          this.snackbar = true;
          this.overlay = false;
          e.preventDefault();
          return;
        }
      }

      if(this.chooseNetwork == 4 ) {
        this.web3InfuraUrl = this.rinkebyWeb3InfuraUrl;
        this.deployedContractAddress = this.rinkebyDeployedContractAddress;
      } else if (this.chooseNetwork == 42) {
        this.web3InfuraUrl = this.kovanWeb3InfuraUrl;
        this.deployedContractAddress = this.kovanDeployedContractAddress;
      }

      let contractAddress = this.contractAddress;
      // console.log(contractAddress);
      let isFound = false;

      for(let i=0; i<this.rinkebyPair.length; i++) {
        if(this.rinkebyPair[i].value == contractAddress) {
          this.web3InfuraUrl = this.rinkebyWeb3InfuraUrl;
          this.deployedContractAddress = this.rinkebyDeployedContractAddress;
          isFound = true;
        }
      }
      
      for(let i=0; i<this.kovanPair.length; i++) {
        if(this.kovanPair[i].value == contractAddress) {
          this.web3InfuraUrl = this.kovanWeb3InfuraUrl;
          this.deployedContractAddress = this.kovanDeployedContractAddress;
          isFound = true
        }
      }

      if(isFound == false) {
        this.alertText = 'Invalid Contract Address';
        this.snackbar = true;
        this.overlay = false;
        e.preventDefault();
        return;
      }

      let Web3 = require('web3');
      let web3 = new Web3(new Web3.providers.HttpProvider(this.web3InfuraUrl + this.infuraId));

      (async() => {
        let ChainLinkContract = await new web3.eth.Contract(this.deployedContractABI, this.deployedContractAddress);
        let details = await ChainLinkContract.methods.getUpdatedPrice(contractAddress).call();
        // console.log(details);
        this.details.contractAdd = contractAddress;
        this.details.decimal = details[4];
        let deci = this.getDecimal(details[4]).toString(); 
        let price = details[0] / deci;
        this.details.price = price.toFixed(6)
        this.details.pair = details[1];
        this.details.lastUpdated = moment.unix(details[2]).format('dddd, MMMM Do, YYYY h:mm:ss A');
        this.details.version = details[3];
        this.dialog = true;
        this.overlay = false;
      })();

      this.overlay = false;

    },

    getContractAddress(e) {
      this.contractAddress = e.target.value;
      // console.log("Selected Contract Address", e.target.value, "Network ID", this.chooseNetwork);
    },

    disablePairAndNetwork(){
      this.disableContractBox = false;
      this.disablePair = true;
      this.disableNetwork = true;
    },

    disableContractBoxFun() {
      this.disableContractBox = true;
      this.disablePair = false;
      this.disableNetwork = false;
    },

    resetData() {
      this.disableContractBox = false;
      this.disablePair = false;
      this.disableNetwork = false;
      this.chooseNetwork = '';
      this.choosePair = '';
      this.contractAddress = '';
      this.dialog = false;
    },

    getDecimal(num) {
      if(num == 1) {
        return 10
      } else if (num == 2) {
        return 100
      } else if (num == 3) {
        return 1000
      } else if (num == 4) {
        return 10000
      } else if (num == 5) {
        return 100000
      } else if (num == 6) {
        return 1000000
      } else if (num == 7) {
        return 10000000
      } else if (num == 8) {
        return 100000000
      } else if (num == 9) {
        return 1000000000
      } else if (num == 10) {
        return 10000000000
      } else if (num == 11) {
        return 100000000000
      } else if (num == 12) {
        return 1000000000000
      } else if (num == 13) {
        return 10000000000000
      } else if (num == 14) {
        return 100000000000000
      } else if (num == 15) {
        return 1000000000000000
      } else if (num == 16) {
        return 10000000000000000
      } else if (num == 17) {
        return 100000000000000000
      } else if (num == 18) {
        return 1000000000000000000
      }
    }

  }
};
</script>

<style lang="scss">

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");

body {
  background: #ddeefc;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
.wrapper {
  min-height: 100vh;
  display: flex;
  padding: 50px 15px;
  @media screen and (max-width: 700px), (max-height: 500px) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.card-form {
  max-width: 570px;
  margin: auto;
  width: 100%;

  @media screen and (max-width: 576px) {
    margin: 0 auto;
  }

  &__inner {
    background: #fff;
    // box-shadow: 3px 13px 30px 0px rgba(21, 34, 67, 0.2);
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 10px;
    padding: 35px;
    padding-top: 50px;

    @media screen and (max-width: 480px) {
      padding: 25px;
      padding-top: 55px;
    }
    @media screen and (max-width: 360px) {
      padding: 15px;
      padding-top: 55px;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: 480px) {
      flex-wrap: wrap;
    }
  }

  &__col {
    flex: auto;
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 480px) {
      margin-right: 0;
      flex: unset;
      width: 100%;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.-cvv {
      max-width: 150px;
      @media screen and (max-width: 480px) {
        max-width: initial;
      }
    }
  }

  &__group {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    .card-input__input {
      flex: 1;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__button {
    width: 100%;
    height: 55px;
    background: #2364d2;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    font-family: "Source Sans Pro", sans-serif;
    box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
    color: #fff;
    margin-top: 20px;
    cursor: pointer;

    @media screen and (max-width: 480px) {
      margin-top: 10px;
    }
  }
}

.card-item {
  max-width: 430px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  width: 100%;

  @media screen and (max-width: 480px) {
    max-width: 310px;
    height: 220px;
    width: 90%;
  }

  @media screen and (max-width: 360px) {
    height: 180px;
  }

  &.-active {
    .card-item__side {
      &.-front {
        transform: perspective(1000px) rotateY(180deg) rotateX(0deg)
          rotateZ(0deg);
      }
      &.-back {
        transform: perspective(1000px) rotateY(0) rotateX(0deg) rotateZ(0deg);
        // box-shadow: 0 20px 50px 0 rgba(81, 88, 206, 0.65);
      }
    }
  }

  &__focus {
    position: absolute;
    z-index: 3;
    border-radius: 5px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.35s cubic-bezier(0.71, 0.03, 0.56, 0.85);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.65);

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: rgb(8, 20, 47);
      height: 100%;
      border-radius: 5px;
      filter: blur(25px);
      opacity: 0.5;
    }

    &.-active {
      opacity: 1;
    }
  }

  &__side {
    border-radius: 15px;
    overflow: hidden;
    // box-shadow: 3px 13px 30px 0px rgba(11, 19, 41, 0.5);
    box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.55);
    transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
    transform-style: preserve-3d;
    transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
    backface-visibility: hidden;
    height: 100%;

    &.-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
      z-index: 2;
      padding: 0;
      // background-color: #2364d2;
      // background-image: linear-gradient(
      //   43deg,
      //   #4158d0 0%,
      //   #8555c7 46%,
      //   #2364d2 100%
      // );
      height: 100%;

      .card-item__cover {
        transform: rotateY(-180deg);
      }
    }
  }
  &__bg {
    max-width: 100%;
    display: block;
    max-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__cover {
    height: 100%;
    background-color: #1c1d27;
    position: absolute;
    height: 100%;
    background-color: #1c1d27;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(6, 2, 29, 0.45);
    }
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 10px;

    @media screen and (max-width: 480px) {
      margin-bottom: 25px;
    }
    @media screen and (max-width: 360px) {
      margin-bottom: 15px;
    }
  }

  &__chip {
    width: 60px;
    @media screen and (max-width: 480px) {
      width: 50px;
    }
    @media screen and (max-width: 360px) {
      width: 40px;
    }
  }

  &__type {
    height: 45px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 100px;
    margin-left: auto;
    width: 100%;

    @media screen and (max-width: 480px) {
      height: 40px;
      max-width: 90px;
    }
    @media screen and (max-width: 360px) {
      height: 30px;
    }
  }

  &__typeImg {
    max-width: 100%;
    object-fit: contain;
    max-height: 100%;
    object-position: top right;
  }

  &__info {
    color: #fff;
    width: 100%;
    max-width: calc(100% - 85px);
    padding: 10px 15px;
    font-weight: 500;
    display: block;

    cursor: pointer;

    @media screen and (max-width: 480px) {
      padding: 10px;
    }
  }

  &__holder {
    opacity: 0.7;
    font-size: 13px;
    margin-bottom: 6px;
    @media screen and (max-width: 480px) {
      font-size: 12px;
      margin-bottom: 5px;
    }
  }

  &__wrapper {
    font-family: "Source Code Pro", monospace;
    padding: 25px 15px;
    position: relative;
    z-index: 4;
    height: 100%;
    text-shadow: 7px 6px 10px rgba(14, 42, 90, 0.8);
    user-select: none;
    @media screen and (max-width: 480px) {
      padding: 20px 10px;
    }
  }

  &__name {
    font-size: 18px;
    line-height: 1;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    @media screen and (max-width: 480px) {
      font-size: 16px;
    }
  }
  &__nameItem {
    display: inline-block;
    min-width: 8px;
    position: relative;
  }

  &__number {
    font-weight: 500;
    line-height: 1;
    color: #fff;
    font-size: 27px;
    margin-bottom: 35px;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;

    @media screen and (max-width: 480px) {
      font-size: 21px;
      margin-bottom: 15px;
      padding: 10px 10px;
    }

    @media screen and (max-width: 360px) {
      font-size: 19px;
      margin-bottom: 10px;
      padding: 10px 10px;
    }
  }

  &__numberItem {
    width: 16px;
    display: inline-block;
    &.-active {
      width: 30px;
    }

    @media screen and (max-width: 480px) {
      width: 13px;

      &.-active {
        width: 16px;
      }
    }

    @media screen and (max-width: 360px) {
      width: 12px;

      &.-active {
        width: 8px;
      }
    }
  }

  &__content {
    color: #fff;
    display: flex;
    align-items: flex-start;
  }

  &__date {
    flex-wrap: wrap;
    font-size: 18px;
    margin-left: auto;
    padding: 10px;
    display: inline-flex;
    width: 80px;
    white-space: nowrap;
    flex-shrink: 0;
    cursor: pointer;

    @media screen and (max-width: 480px) {
      font-size: 16px;
    }
  }

  &__dateItem {
    position: relative;
    span {
      width: 22px;
      display: inline-block;
    }
  }

  &__dateTitle {
    opacity: 0.7;
    font-size: 13px;
    padding-bottom: 6px;
    width: 100%;

    @media screen and (max-width: 480px) {
      font-size: 12px;
      padding-bottom: 5px;
    }
  }
  &__band {
    background: rgba(0, 0, 19, 0.8);
    width: 100%;
    height: 50px;
    margin-top: 30px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: 480px) {
      margin-top: 20px;
    }
    @media screen and (max-width: 360px) {
      height: 40px;
      margin-top: 10px;
    }
  }

  &__cvv {
    text-align: right;
    position: relative;
    z-index: 2;
    padding: 15px;
    .card-item__type {
      opacity: 0.7;
    }

    @media screen and (max-width: 360px) {
      padding: 10px 15px;
    }
  }
  &__cvvTitle {
    padding-right: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 5px;
  }
  &__cvvBand {
    height: 45px;
    background: #fff;
    margin-bottom: 30px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    color: #1a3b5d;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0px 10px 20px -7px rgba(32, 56, 117, 0.35);

    @media screen and (max-width: 480px) {
      height: 40px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 360px) {
      margin-bottom: 15px;
    }
  }
}

.card-list {
  margin-bottom: -130px;

  @media screen and (max-width: 480px) {
    margin-bottom: -120px;
  }
}

.card-input {
  margin-bottom: 20px;
  &__label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #1a3b5d;
    width: 100%;
    display: block;
    user-select: none;
  }
  &__input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
    font-family: "Source Sans Pro", sans-serif;

    &:hover,
    &:focus {
      border-color: #3d9cff;
    }

    &:focus {
      box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
    }
    &.-select {
      -webkit-appearance: none;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAeCAYAAABuUU38AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUxJREFUeNrM1sEJwkAQBdCsngXPHsQO9O5FS7AAMVYgdqAd2IGCDWgFnryLFQiCZ8EGnJUNimiyM/tnk4HNEAg/8y6ZmMRVqz9eUJvRaSbvutCZ347bXVJy/ZnvTmdJ862Me+hAbZCTs6GHpyUi1tTSvPnqTpoWZPUa7W7ncT3vK4h4zVejy8QzM3WhVUO8ykI6jOxoGA4ig3BLHcNFSCGqGAkig2yqgpEiMsjSfY9LxYQg7L6r0X6wS29YJiYQYecemY+wHrXD1+bklGhpAhBDeu/JfIVGxaAQ9sb8CI+CQSJ+QmJg0Ii/EE2MBiIXooHRQhRCkBhNhBcEhLkwf05ZCG8ICCOpk0MULmvDSY2M8UawIRExLIQIEgHDRoghihgRIgiigBEjgiFATBACAgFgghEwSAAGgoBCBBgYAg5hYKAIFYgHBo6w9RRgAFfy160QuV8NAAAAAElFTkSuQmCC");
      background-size: 12px;
      background-position: 90% center;
      background-repeat: no-repeat;
      padding-right: 30px;
    }
  }
}

.slide-fade-up-enter-active {
  transition: all 0.25s ease-in-out;
  transition-delay: 0.1s;
  position: relative;
}
.slide-fade-up-leave-active {
  transition: all 0.25s ease-in-out;
  position: absolute;
}
.slide-fade-up-enter {
  opacity: 0;
  transform: translateY(15px);
  pointer-events: none;
}
.slide-fade-up-leave-to {
  opacity: 0;
  transform: translateY(-15px);
  pointer-events: none;
}

.slide-fade-right-enter-active {
  transition: all 0.25s ease-in-out;
  transition-delay: 0.1s;
  position: relative;
}
.slide-fade-right-leave-active {
  transition: all 0.25s ease-in-out;
  position: absolute;
}
.slide-fade-right-enter {
  opacity: 0;
  transform: translateX(10px) rotate(45deg);
  pointer-events: none;
}
.slide-fade-right-leave-to {
  opacity: 0;
  transform: translateX(-10px) rotate(45deg);
  pointer-events: none;
}

.github-btn {
  position: absolute;
  right: 40px;
  bottom: 50px;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
  background: #24292e;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: center;
  transition: all 0.3s ease-in-out;

  @media screen and (min-width: 500px) {
    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
    }
  }

  @media screen and (max-width: 700px) {
    position: relative;
    bottom: auto;
    right: auto;
    margin-top: 20px;

    &:active {
      transform: scale(1.1);
      box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
    }
  }
}


</style>